body{
    margin:0 auto;
    max-width: 400px;
}


.app-title{
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(251, 253, 255, 0.631);
    font-weight: bold;
    font-size: 40px;
    padding: 30px 40px;
    letter-spacing: 3px;
}

.main{
    margin:0 auto;
}

/*current-section*/
.current-weather{
    background-color: #ffffff5f;
    border-radius: 10px;
    padding: 10px 35px 10px 35px;
    margin: 20px 10px;
}
.date{
    text-align: center;
    font-weight:bold;
    color: #423f3bd7;
    font-size: 17px;
}
.current-map{
    text-align: center;
    font-weight:bold;
    font-size: 20px;
    color: #423f3bd7;
}
.weather-row{
  display: flex;
  align-items: center;   
  justify-content: space-between;
  margin: 0 20px;
  gap:10px;
 }     
.temp-max{
    font-weight:bold;
    font-size: 40px;
    color: rgba(105, 37, 37, 0.61);
}
.temp-min{
    font-weight:bold;
    font-size: 30px;
    color: rgba(23, 61, 131, 0.61);
}
.weather-icon{
    font-size: 60px;
}
.border{
    text-align: center;
    color: #423f3bd7;
}
.current-detail{
   color: #423f3bd7;
   font-weight: bold;
   font-size: 15px;
   padding: 3px;
}


/*時間ごとの天気*/
.date-weather{
    background-color: #ffffff5f;
    border-radius: 10px;
    padding: 10px 30px 15px 30px;
    margin: 40px 10px;
}
/*カルーセル加工*/
.carousel-wrapper {
  position: relative;
}
.carousel-wrapper::before,
.carousel-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.carousel-wrapper::before {
  left: 0;
  background: linear-gradient(to right, rgba(255,255,255,0.4), rgba(255,255,255,0.1));
}
.carousel-wrapper::after {
  right: 0;
  background: linear-gradient(to left, rgba(255,255,255,0.4), rgba(255,255,255,0.1));
}
.carousel {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 8px;
}

/*時間ごとのカード*/
.hour-card {
  flex-shrink: 0;
  scroll-snap-align: start;
  min-width: 70px;
  background: rgba(255,255,255,0.3);
  border-radius: 14px;
  padding: 8px;
  text-align: center;
  flex-shrink: 0;
}

